dashboards_out
tmp
vendor

scripts/kwok-config/recording-rules-empty.yaml

/datasource/datasources.yaml

# Binary files
scripts/kwok-stats-proxy/kwok-stats-proxy
scripts/kwok-hostmetrics-faker/kwok-hostmetrics-faker
kwok
