mode: deployment
replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib

presets:
  kubernetesAttributes:
    enabled: true

  clusterMetrics:
    enabled: true

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
  
  processors:
    k8sattributes:
      extract:
        otel_annotations: true

    attributes/k8sclustername:
      actions:
        - key: k8s.cluster.name
          action: upsert
          value: kubernetes-mixin-otel

    batch: {}

  exporters:
    otlphttp/metrics:
      endpoint: http://lgtm:9090/api/v1/otlp
      tls:
        insecure: true

    prometheus:
      endpoint: "0.0.0.0:8889"
      resource_to_telemetry_conversion:
        enabled: true

  service:
    extensions: [health_check]
    
    pipelines:
      metrics:
        receivers: [otlp]
        processors: [
          k8sattributes,
          attributes/k8sclustername,
          batch,
        ]
        exporters: [otlphttp/metrics, prometheus]

ports:
  prometheus:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP
