mode: daemonset

image:
  repository: otel/opentelemetry-collector-contrib

presets:
  kubernetesAttributes:
    enabled: true

  kubeletMetrics:
    enabled: true

  hostMetrics:
    enabled: true

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    hostmetrics:
      scrapers:
        cpu:
          metrics:
            system.cpu.logical.count:
              enabled: true
        load: {}
        memory:
          metrics:
            system.memory.limit:
              enabled: true
        disk: {}
        filesystem: {}
        network: {}
  
  processors:
    attributes/k8sclustername:
      actions:
        - key: k8s.cluster.name
          action: insert
          value: kubernetes-mixin-otel

    attributes/servicename:
      actions:
        - key: service.name
          action: insert
          from_attribute: k8s.cluster.name

    resourcedetection:
      detectors: [system]
      timeout: 2s
      override: true

    batch: {}

    transform:
      metric_statements:
        - context: resource
          statements:
            - set(attributes["service.instance.id"], attributes["k8s.pod.name"]) where attributes["k8s.pod.name"] != nil
            - set(attributes["service.instance.id"], attributes["k8s.daemonset.uid"]) where attributes["k8s.daemonset.uid"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["k8s.deployment.uid"]) where attributes["k8s.deployment.uid"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["k8s.statefulset.uid"]) where attributes["k8s.statefulset.uid"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["k8s.job.uid"]) where attributes["k8s.job.uid"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["k8s.cronjob.uid"]) where attributes["k8s.cronjob.uid"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["k8s.replicaset.uid"]) where attributes["k8s.replicaset.uid"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["k8s.node.name"]) where attributes["k8s.node.name"] != nil and attributes["service.instance.id"] == nil
            - set(attributes["service.instance.id"], attributes["host.name"]) where attributes["host.name"] != nil and attributes["service.instance.id"] == nil

  exporters:
    otlphttp/metrics:
      endpoint: http://lgtm:9090/api/v1/otlp
      tls:
        insecure: true

    prometheus:
      endpoint: "0.0.0.0:8889"
      resource_to_telemetry_conversion:
        enabled: true

  service:
    extensions: [health_check]
    
    pipelines:
      metrics:
        receivers: [otlp, hostmetrics]
        processors: [
          attributes/k8sclustername,
          attributes/servicename,
          resourcedetection,
          transform,
          batch,
        ]
        exporters: [otlphttp/metrics, prometheus]

ports:
  prometheus:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP
